<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DisposableDbHostname" value="(local)" />
		<add key="DisposableDbConnString" value="Trusted_Connection=true;Min Pool Size=5;Max Pool Size=200;" />
		<add key="DbCreationPath" value="C:\SQLdata" />

		<add key="ReferenceDbHostname+someDbName" value="(local)" />
		<add key="ReferenceDbConnString+someDbName" value="Trusted_Connection=true;Min Pool Size=5;Max Pool Size=200;" />
	</appSettings>
</configuration>
