<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="DisposableDbHostname" value="(local)" />
    <add key="DisposableDbConnString" value="Trusted_Connection=true;Min Pool Size=5;Max Pool Size=200;" />
    <add key="DbCreationPath" value="E:\SQLdata" />
    
  </appSettings>
</configuration>
